/* General Body Styles */
body {
  background-color: #2E3B45;
  color: #F1E6D2;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#game {
  background-color: #1F9BCF;
  padding: 20px;
  width: 80%;
  max-width: 500px; 
  border: solid #006B8F 10px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

button {
  color: #F1E6D2;
  background-color: #1F9BCF;
  border: solid #2E3B45 5px;
  border-radius: 30px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover {
  background-color: #005C7F;
  transform: translateY(-2px);
}
button:active {
  background-color: #1F9BCF;
  transform: translateY(1px);
}

.hand {
  background-color: #005C7F;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
}

.menu {
  background-color: #005C7F;
  border-radius: 10px;
  margin-top: 25px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#game-settings,
#message {
  background-color: #007A9F;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
